*,*::after,*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    // for default desktop screen, 1rem = 10 px
    // 10 px / 16 px = 62.5%
    // 16 px is default browser font size
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 50%;
    }

   

    @include respond(tab-land) {  //width < 900px
        // for tablet potrait, 1 rem = 9 px
        // 9px / 16px = 56.25%
        font-size: 56.25%;
    }

    @include respond(tab-port) {  // width < 600px;
        // for tablet landscape screen, I would like 1rem = 8px
        // 8px / 16px = 50%
        font-size: 50%;
    }
    
    @include respond(big-desktop) {
         // for big screen screen, I would like 1rem = 12px
        // 12px / 16px = 75%
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}