body {
    font-family: "Lato" sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-grey;
    padding: 3rem;
}

.header-primary {
    text-transform: uppercase;
    color: $color-white;
    top: 50%;
    left: 50%;
    transform: translate(50% 50%);
    backface-visibility: hidden;
    margin-bottom: 6rem;    

    &--main {
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 15.8px;
        animation-duration: 3s;
        animation-name: moveInRight;
    }
}


.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark );
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}